:root {
            --Primary-Strong: #3C90D7;
            --Primar: #68ABE3
        }

        html {
            font-size: 24px;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background: linear-gradient(90deg, #B2D9EE 21.64%, var(--Primary, #68ABE3) 100%);
            position: relative;
        }

        body::before {
            content: "";
            position: absolute;
            inset: 0;
            background-size: auto 70%;
            background-repeat: no-repeat;
            background-position: right 5vw bottom 5vw;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="rgba(255,255,255,0.1)"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" /> <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" /></g></svg>');
            pointer-events: none;
            z-index: 0;
        }

        .conainer {
            position: relative;
            z-index: 1;
            width: min(1024px, 90%);
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
             gap: 1rem  ;
        }

        h1 {
            color: var(--Primary-Strong, #3C90D7);
            font-family: Arial;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;
        }

        .primary-btn {
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            background-color: var(--Primary-Strong, #3C90D7);
            border: 1px solid var(--Primary-Strong, #3C90D7);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .primary-btn:hover {
            background-color: #2c7ac4;
            border-color: #2974ba;
            color: #fff;
        }

        .primary-btn:focus {
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(60, 144, 215, 0.25);
        }

        .primary-btn:active {
            background-color: #2974ba;
            border-color: #266eae;
        }